 <html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>订单查询</title>
</head>
<body>
    <form action="/SelectOrder/SelectOrderSubmit" method="post" style="margin-left: 40% ;margin-top: 20px;margin-top: 40px;">
        <label>商户代码</label>
        <input type="text" id="mer_no" value="" name="mer_no" />
        </br>
        <label>商家订单号</label>
        <input type="text" id="mer_order_no" name="mer_order_no" />
        </br>
        <input type="submit" />
    </form>
</body>
</html>